# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Docs
docs/

# Dotenv file
.env

burnth.priv

*__pycache__*

*.ptau
*.r1cs
*.sym
circuit/*.json
circuit/mpt_first_*
circuit/mpt_path_*
circuit/mpt_last_*

Mpt*.sol
SpendVerifier.sol